html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.chart_canvas {
  max-height: 85%;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  bottom: 10px;
}