<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    {% for key , value in ui_array.items %}
        <li><a href="javascript:void(0);" value="{{ key }}" onclick="update_dd_text('{{ value }}', '{{ key }}')">{{ value }}</a></li>
        <li class="divider"></li>
    {% endfor %}
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo" style="padding-left: 1%;">Sort it!</a>
        <ul class="right hide-on-med-and-down">
            <li>
                Array Length: <input value="25" id="array_length" type="number" class="validate"
                    style="width: 42px;color: white; border-bottom: none!important;box-shadow: none!important;" min="2"
                    max="99">
            </li>
            <li><a href="#" id="play"><i class="material-icons nav-thin_border">play_arrow</i></a></li>
            <li><a href="javascript:void(0);" onclick="resetArray()"><i
                        class="material-icons nav-thin_border">refresh</i></a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger nav-thin_border" href="#!" id="dropdown" value="none" data-target="dropdown1">Algo<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>

<script>$(".dropdown-trigger").dropdown();</script>